*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient( 90turn ,#9c27b0, #8ecdff);

}

.logo{
    width: 30%;
    height: 30%;
    margin: -20px;
    margin-bottom: 30;
}

img{
    width: 50%;
    height: 50%;
}
h3 {
    background: rgb(37, 37, 37);
    color: #9c27b0;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    margin-left: 150px;
    margin-right: 150;
    padding: 2%;
    position: relative;
    text-align: center;
    height: 400px;
    width: 250px;
    border-radius: 5px;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:rgb(37, 37, 37);
}
.buttons {
    border-radius: 25px;
    padding: 0;
    margin-bottom: 10px;
}
.buttons .button {
    border-radius: 25px;
    background: rgb(37, 37, 37);
    color: #9c27b0;
    margin: 5px;
    width:200px;
    float:left;
    margin-top: 30px;
    margin-left: 800px;
}
.button {
    border-radius: 25px;
    background: #3498db;
    color: #fff;
    display: block;
    font-size: 16px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    width: 48%;
}